*{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ng-enter{
	transition: 1s;
	opacity: 0;
}

.ng-enter-active{
    opacity: 1;
    transition: 1s;
}

.ng-leave{
	transition: 1s;
	opacity: 1;
}

.panel-default>.panel-heading{
	/*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
	font-size: 20px;
	font-weight: bold;
	color: grey;
}
