<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Cadastro de produtos</div>
            <div class="panel-body">
                <form name="form" novalidade>
                    <div class="form-group">
                        <label>Codigo:</label>
                        <input type="text" ng-model="produto.codigo" class="form-control" required>
                        <label>Nome:</label>
                        <input type="text" ng-model="produto.nome" class="form-control" required>
                        <label>Quantidade:</label>
                        <input type="text" ng-model="produto.quantidade" class="form-control" required>
                        <label>Foto:</label>
                        <input type="text" ng-model="produto.foto" class="form-control" required>                                                
                    </div>
                    <button ng-click="enviarDados()" ng-disabled="form.$invalid" class="btn btn-primary center-block" type="button">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>